body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.dashboard {
    width: 90vw;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    padding: 20px;
}
.loading {
    font-size: 1.2em;
    color: #4caf50;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 0.9em;
}
th {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
    cursor: pointer; /* Add cursor pointer for sorting */
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #ddd;
}
caption {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: bold;
}
.table-wrapper {
    max-height: calc(100vh - 200px); /* Adjust height based on available space */
    overflow-y: none;
}
.dataTables_wrapper {
    padding: 20px; /* Add padding to DataTable wrapper */
}